/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* RESET */

/* STILI GENERALI */
ul {
  list-style-type: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #33475b;
  font-weight: bold;
  background-color: #f5f8fa;
}

.container {
  width: 960px;
  margin: auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.col {
  float: left;
}

a {
  text-decoration: none;
  color: #33475b;
}

.three-elements-menu li {
  display: inline-block;
}


.fas.fa-check {
  color: #ff7a59;
}

.text {
  font-size: 12px;
}

.free {
  color: white;
  background-color: #ff7a59;
  border: 0.5px solid #ff7a59;
  border-radius: 5px;
  padding: 10px;
}
/* STILE GENERALI */

/* INIZIO HEADER */
header {
  height: 500px;
}

header nav {
  height: 80px;
}

header nav .menu-left {
  width: 50%;
  height: 100%;
}

header nav .menu-right {
  width: 50%;
  height: 100%;
}

header nav .col .menu a {
  line-height: 80px;
  font-size: 14px;
}

header nav .col .padding {
  color: #33475b;
}

header .login {
  color: #ff7a59;
}

header nav .col .menu li {
  display: inline-block;
  font-size: 14px;
}

header .menu-left .menu .fas.fa-chevron-down {
  padding-right: 20px;
  border-right: 1px solid #33475b;
}

header .menu-left .menu .padding {
  padding-left: 12px;
}

header .menu-right .menu {
  text-align: right;
}

header hr {
  border: 0.3px solid #33475b;
}

header .menu-right .menu li {
  padding-left: 20px;
}

header .login {
  border: 0.5px solid #ff7a59;
  border-radius: 5px;
  padding: 10px;
}

header .fas.fa-search {
  color: lightblue;
}

header nav .logo {
  width: 50%;
  height: 100%;
  line-height: 80px;
  padding-top: .8%;
}

header nav .menu-tendina {
  width: 50%;
  height: 100%;
}

header nav .col .menu-tendina .menu a {
  line-height: 80px;
  font-size: 14px;
}

header .col .menu-tendina .menu li {
  display: inline-block;
  font-size: 14px;
}

header .menu-tendina .menu {
  text-align: right;
}

header .menu-tendina .menu .fas.fa-chevron-down {
  margin-left: 4px;
  margin-right: 12px;
}
header .spazio {
  margin-right: 12px;
}

header .intestazione {
  background-color: #ff7a59;
  background-image: url('../img/jumbotron.png');
  height: 695.3px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

header .intestazione .jumbotron {
  width: 45%;
  height: 100%;
}

header .intestazione .jumbotron .free {
  padding: 20px;
  font-size: 14px;
}

header .intestazione .jumbotron h1 {
  margin-bottom: 22px;
  margin-top: 13%;
}

header .intestazione .jumbotron .text {
  line-height: 25px;
  padding-bottom: 40px;
}

header .intestazione .jumbotron .text.mini {
  font-size: 11px;
  margin-top: 40px;
}
/* FINE HEADER */

/* INIZIO MAIN */
main {
  background-color: #f5f8fa;
}

main #cube {
  text-align: center;
  margin-top: 405px;
}

main .container {
  padding-left: 12%;
  padding-right: 12%;
}

main .container img {
  width: 265px;
}

main #cube h2 {
  padding-bottom: 30px;
}

main #cube p {
  padding-bottom: 40px;
}

main #crm {
  margin-bottom: 45px;
}

main #crm .container {
  height: 300px;
  padding: 40px;
  background-color: white;
  border: 0.5px solid lightgrey;
}

main #crm .col.book {
  width: 30%;
  height: 100%;
  text-align: center;
  position: relative;
}

main #crm .col.center {
  width: 70%;
  height: 100%;
  padding-left: 20px;
}

main #crm .col.center h3 {
 padding-bottom: 30px;
 padding-top: 20px;
}

main #crm .col.center h4 {
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
}

main #crm .col.center hr {
  text-align: right;
  display: inline-block;
  width: 60%;
  line-height: 30px;
  vertical-align: middle;
  margin-left: 30px;
}

main #crm .col.center .text {
  padding-bottom: 30px;
  line-height: 20px;
}

main #crm .three-elements-menu .fas.fa-check {
  padding-right: 6px;
}

main #crm .three-elements-menu p {
  padding-right: 20px;
}

main #crm .book img {
  width: 140px;
}

main #crm .col.book .centramento {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

main #crm .three-elements-menu {
  margin-top: 30px;
}

/*
main #crm .col.center .line-menu {
  padding-bottom: 30px;
}


main #crm .col.center .line-menu .divisor {
  width: 40%;
  border: 0.3px solid #33475b;
}
 */


/*************************
main #three-col {
  height: 600px;

}
***************************/


/*
main #three-col .container {
  height: 300px;
  padding: 40px;
  background-color: purple;
}
 */
main #three-col {
  margin-bottom: 45px;
}

main #three-col .container {
  padding: 0;
}

main #three-col .col.sinistra {
  width: 30%;
  height: 100%;
  border: 0.5px solid lightgrey;
  background-color: white;
}

main #three-col .col.sinistra img {
  width: 80px;
}

main #three-col .col.destra img {
  width: 100px;
}

main #three-col .col.centrale img {
  width: 73px;
}

main #three-col .col.centrale {
  width: 30%;
  height: 100%;
  margin: 0 5%;
  border: 0.5px solid lightgrey;
  background-color: white;
}

main #three-col .col.destra {
  width: 30%;
  height: 100%;
  border: 0.5px solid lightgrey;
  background-color: white;
}

main #three-col .col {
  text-align: center;
  padding: 40px;
}

main #three-col h3 {
  margin-top: 5%;
  margin-bottom: 9%;
}

main #three-col h4 {
  margin-top: 12%;
  margin-bottom: 12%;
}

main #three-col .col .text.description {
  line-height: 20px;
  margin-bottom: 40px;
}

main #three-col .col.destra .text.description {
  margin-bottom: 40px;
}

main #three-col .col .three-elements-menu {
  margin-bottom: 45px;
}

.icons {
  text-align: left;
  display: inline-block;
  margin-left: 0;
}

.check {
  display: inline-block;
  text-align: left;
  line-height: 20px;
  margin-bottom: 20%;
}
 /*
main #three-col .col .check {
  text-align: left;
  vertical-align: middle;
}

main #three-col .col .icons {
  text-align: left;
}

/* FINE MAIN */
